@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Momo+Signature&display=swap');

body {
 font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

